.App {
  background: url("./assets/pexels-tim-mossholder-1605148\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
