.App {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.floating-button {
  position: absolute;
  background: none;
  color: white;
  border: none;
  padding: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
